@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-serif: "Times New Roman", Times, serif;

  --color-primary: #1a1a1a;
  --color-secondary: #f3f4f6;
}

@layer base {

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  body {
    background-color: #ffffff;
    color: #1a1a1a;
    font-family: var(--font-sans);
  }
}